{% extends 'base-admin.html.twig' %}

{% block title %}Editer une photo{% endblock %}

{% block body %}
    <h1>Editer une photo</h1>

    {{ include('photo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('photo_index') }}">back to list</a>

    {{ include('photo/_delete_form.html.twig') }}
{% endblock %}
