{% extends 'base-admin.html.twig' %}

{% block title %}Editer une photo{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        <div class="card mb-4 mb-lg-0">
            <div class="card-body">
                <h3>Editer une photo</h3>

                {{ include('photo/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
