{% extends 'base-admin.html.twig' %}

{% block title %}Nouvelle photo{% endblock %}

{% block body %}
    <h1>Mettre en ligne une nouvelle photo</h1>

    {{ include('photo/_form.html.twig') }}

{% endblock %}
