{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur mon site Photo{% endblock %}

{% block body %}
    <div id="fh5co-main">
        <div class="fh5co-gallery">
            <a class="gallery-item" href="single.html">
                <img src="images/work_1.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                <span class="overlay">
						<h2>Nature</h2>
						<span>14 Photos</span>
					</span>
            </a>
            <a class="gallery-item" href="single.html">
                <img src="images/work_2.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                <span class="overlay">
						<h2>People</h2>
						<span>7 Photos</span>
					</span>
            </a>
            <a class="gallery-item" href="single.html">
                <img src="images/work_3.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                <span class="overlay">
						<h2>Sky</h2>
						<span>22 Photos</span>
					</span>
            </a>
            <a class="gallery-item" href="single.html">
                <img src="images/work_4.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                <span class="overlay">
						<h2>Building</h2>
						<span>28 Photos</span>
					</span>
            </a>
            <a class="gallery-item" href="single.html">
                <img src="images/work_5.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                <span class="overlay">
						<h2>People 2</h2>
						<span>17 Photos</span>
					</span>
            </a>
            <a class="gallery-item" href="single.html">
                <img src="images/work_6.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                <span class="overlay">
						<h2>Beach</h2>
						<span>34 Photos</span>
					</span>
            </a>
            <a class="gallery-item" href="single.html">
                <img src="images/work_7.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                <span class="overlay">
						<h2>Vegetarian Food</h2>
						<span>10 Photos</span>
					</span>
            </a>
            <a class="gallery-item" href="single.html">
                <img src="images/work_8.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                <span class="overlay">
						<h2>Travel</h2>
						<span>19 Photos</span>
					</span>
            </a>

            <a class="gallery-item" href="single.html">
                <img src="images/work_9.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                <span class="overlay">
						<h2>Family</h2>
						<span>42 Photos</span>
					</span>
            </a>
            <a class="gallery-item" href="single.html">
                <img src="images/work_10.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                <span class="overlay">
						<h2>Food</h2>
						<span>10 Photos</span>
					</span>
            </a>
            <a class="gallery-item" href="single.html">
                <img src="images/work_11.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                <span class="overlay">
						<h2>Gadgets</h2>
						<span>76 Photos</span>
					</span>
            </a>
            <a class="gallery-item" href="single.html">
                <img src="images/work_12.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                <span class="overlay">
						<h2>Cars</h2>
						<span>55 Photos</span>
					</span>
            </a>

            <a class="gallery-item" href="single.html">
                <img src="images/work_13.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                <span class="overlay">
						<h2>Animals</h2>
						<span>47 Photos</span>
					</span>
            </a>
            <a class="gallery-item" href="single.html">
                <img src="images/work_14.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                <span class="overlay">
						<h2>Building 2</h2>
						<span>10 Photos</span>
					</span>
            </a>
            <a class="gallery-item" href="single.html">
                <img src="images/work_15.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                <span class="overlay">
						<h2>Baloon</h2>
						<span>17 Photos</span>
					</span>
            </a>
            <a class="gallery-item" href="single.html">
                <img src="images/work_16.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                <span class="overlay">
						<h2>Animals 2</h2>
						<span>22 Photos</span>
					</span>
            </a>
        </div>


        <div class="fh5co-narrow-content">
            <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Services</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                        <div class="fh5co-icon">
                            <i class="icon-strategy"></i>
                        </div>
                        <div class="fh5co-text">
                            <h3>Strategy</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                        <div class="fh5co-icon">
                            <i class="icon-telescope"></i>
                        </div>
                        <div class="fh5co-text">
                            <h3>Explore</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                        <div class="fh5co-icon">
                            <i class="icon-circle-compass"></i>
                        </div>
                        <div class="fh5co-text">
                            <h3>Direction</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                        <div class="fh5co-icon">
                            <i class="icon-tools-2"></i>
                        </div>
                        <div class="fh5co-text">
                            <h3>Expertise</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
