{% extends 'base-admin.html.twig' %}

{% block title %}Edit Galerie{% endblock %}

{% block body %}
    <h1>Edit Galerie</h1>

    {{ include('galerie/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
